@use 'variables' as *;

// === Breakpoints ===

$breakpoints: (
    desktop: 1200px,
    laptop: 1024px,
    tablet: 768px,
    mobile: 480px,
    small-mobile: 360px,
);

@mixin media($device) {
    @media (max-width: map-get($breakpoints, $device)) {
        @content;
    }
}

@mixin LampEffect($b-r: $border-r-xl, $bg: $color-bg-components) {
    border: 1px solid #595959;
    border-radius: $b-r;
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25), inset 0 0 23px 0 rgba(0, 0, 0, 0.25);
    background: $bg;
    overflow: hidden;
}