$font-family-title: 'Montserrat', sans-serif;
$font-family-text: 'Roboto', sans-serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xxxl: 32px;

$line-height-xs: 13px;
$line-height-sm: 16px;
$line-height-md: 20px;
$line-height-lg: 22px;
$line-height-xl: 24px;
$line-height-xxl: 26px;
$line-height-xxxl: 32px;
$line-height-xxxxl: 40px;

$color-background: #0f0f0f;
$color-bg-components: rgba(#2e2e2e, .5);
$color-text: #FFFFFF;
$color-link: #0059FF;
$color-active: rgba(0, 89, 255, 0.1);

$color-orange: #FF4D00;
$color-white: #FFFFFF;
$color-white-a: rgba(255, 255, 255, 0.3);
$color-black: #000000;
$color-darkgray: #737373;
$color-gray: #F1F1F1;
$color-light: #CECECE;
$color-success: rgba(0, 255, 68, 20);
$color-lightgray: #A8A8A8;
$color-border: #E2E2E2;
$color-red: #FF0000;

$padding-xs: 12px;
$padding-sm: 16px;
$padding-md: 24px;
$padding-lg: 32px;
$padding-ui: 12px 16px;
$padding-ui-icon: 12px;

$border: 2px solid $color-border;
$border-white: 2px solid $color-white;
$border-banner: 1px solid $color-gray;

$border-r-sm: 4px;
$border-r-md: 8px;
$border-r-lg: 16px;
$border-r-xl: 24px;
$border-r-xxl: 50px;

$box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.04);
$box-shadow-btn: 0 0 6px $color-success;

$gap-xs: 4px;
$gap-sm: 8px;
$gap-md: 12px;
$gap-lg: 16px;
$gap-xl: 24px;
$gap-xxl: 32px;
$gap-page: 80px;