$font-family-1x: 'Montserrat', sans-serif;
$font-family-2x: 'Roboto', sans-serif;

$font-size-1x: 12px;
$font-size-2x: 14px;
$font-size-3x: 16px;
$font-size-4x: 18px;
$font-size-5x: 20px;
$font-size-6x: 24px;
$font-size-7x: 32px;

$line-height-1x: 12px;
$line-height-2x: 16px;
$line-height-3x: 20px;
$line-height-4x: 22px;
$line-height-5x: 24px;
$line-height-6x: 26px;
$line-height-7x: 32px;
$line-height-8x: 40px;

$color-lime: lime;
$color-green: green;
$color-orange: #ff4d00;
$color-darkgray: #737373;
$color-white: #ffffff;
$color-black: #000000;
$color-blue: #0059ff;
$color-red: #ff0000;
$color-background-1x: #0f0f0f;
$color-background-2x: rgba(#2e2e2e, 0.5);
$color-background-3x: #ffffff;
$color-background-4x: rgba(#d8d8d8, 0.5);
$color-active-blue: rgba(0, 89, 255, 0.1);
$color-unactive: transparent;
$color-active-red: rgba(255, 0, 0, 0.5);
$color-active-yellow: rgba(255, 191, 0, 0.5);
$color-border: rgba(89, 89, 89, 0.319);

$padding-1x: 4px;
$padding-2x: 8px;
$padding-3x: 12px;
$padding-4x: 16px;
$padding-5x: 24px;
$padding-6x: 32px;

$border: 1px solid $color-border;

$radius-1x: 8px;
$radius-2x: 12px;
$radius-3x: 18px;

$box-shadow-1x: 0 8px 20px 0 rgba(0, 0, 0, 0.04);
$box-shadow-2x: 0 0 6px $color-lime;

$gap-1x: 4px;
$gap-2x: 8px;
$gap-3x: 12px;
$gap-4x: 16px;
$gap-5x: 24px;
$gap-6x: 32px;
$gap-7x: 80px;
