$font-family-title: 'Montserrat', sans-serif;
$font-family-text: 'Roboto', sans-serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xxxl: 32px;

$line-height-xs: 13px;
$line-height-sm: 16px;
$line-height-md: 20px;
$line-height-lg: 22px;
$line-height-xl: 24px;
$line-height-xxl: 26px;
$line-height-xxxl: 32px;
$line-height-xxxxl: 40px;

$color-orange: #FF4D00;
$color-white: #FFFFFF;
$color-white-a: rgba(255, 255, 255, 0.3);
$color-black: #000000;
$color-darkgray: #737373;
$color-gray: #F1F1F1;
$color-light: #CECECE;
$color-success: rgba(0, 255, 68, 20);
$color-lightgray: #A8A8A8;
$color-border: #E2E2E2;

$padding-wrap: 32px;

$border: 1px solid $color-border;

$border-r-sm: 4px;
$border-r-md: 8px;

$box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.04);
$box-shadow-btn: 0 0 6px $color-success;

$gap-xs: 4px;
$gap-sm: 8px;
$gap-md: 12px;
$gap-lg: 16px;
$gap-xl: 24px;