@use 'normalize' as *;
@use 'reset' as *;

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    font-family: $font-family-text;
    font-size: $font-size-md;
    background: $color-background;
    color: $color-text;
}

html.dark {
    background: $color-gray;
    color: $color-text;
}

body #__nuxt {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: $gap-xl;
}

span, button, input, textarea {
    color: $color-text;
}

main {
    flex: 1 1 0;
}

img {
    object-fit: cover;
}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $gap-page;
    @include LampEffect;
    padding: $padding-lg;
}

.container {
    max-width: calc(1200px + $padding-lg);
    padding: 0px $padding-md;
    margin: 0 auto;

    @include media(laptop) {
        padding: 0px $padding-sm;
    }

    @include media(tablet) {
        padding: 0px $padding-xxs;
    }
}

.swiper-basic-button {
    position: absolute;
    width: 64px;
    height: 64px;
    z-index: 1000;
    @include LampEffect($b-r: $border-r-md, $bg: $color-active);
    transition: transform .1s ease;

    &:active {
        transform: scale3d(1.2, 0.9, 2) translateY(-55%);
    }

    &--left {
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
    }
    
    &--right {
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    &__img {
        width: 100%;
        height: 100%;

        &--left {
            transform: rotate(180deg);
        }
    }
}