@use 'normalize' as *;
@use 'reset' as *;

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    font-family: $font-family-text;
    background: $color-gray;
}

html.dark {
    background: $color-gray;
    color: $color-white;
}

body #__nuxt {
    color: $color-black;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 28px 0px 0px;
    flex: 1 1 0;
}

img {
    object-fit: cover;
}

.container {
    max-width: calc(1361px + $padding-wrap);
    padding: 0px $padding-wrap;
    margin: 0 auto;
}

// .swiper-basic-buttons {
//     width: 100%;
//     position: absolute;
//     top: 50%;
//     left: 0;
//     transform: translateY(-50%);
//     display: flex;
//     justify-content: space-between;
//     z-index: 1000;
//     background-color: $color-darkgray;

//     &__button {
//         position: relative;
//         width: 64px;
//         height: 64px;
//         border-radius: $border-r-lg;
//         border: $border-white;
//         backdrop-filter: blur(5px);
//         z-index: 3000;

//         &:first-child {
//             left: 10px;
//         }
//         &:last-child {
//             right: 10px;
//         }
//     }

//     &__img {
//         width: 100%;
//         height: 100%;

//         &--left {
//             transform: rotate(180deg);
//         }
//     }
// }

.swiper-basic-button {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: $border-r-lg;
    border: $border-white;
    backdrop-filter: blur(5px);
    z-index: 1000;

    &--left {
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
    }
    
    &--right {
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    &__img {
        width: 100%;
        height: 100%;

        &--left {
            transform: rotate(180deg);
        }
    }
}