@use 'normalize' as *;
@use 'reset' as *;

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    font-family: $font-family-text;
    background: $color-gray;
}

html.dark {
    background: $color-gray;
    color: $color-white;
}

body #__nuxt {
    color: $color-black;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 28px 0px 0px;
    flex: 1 1 0;
}

img {
    object-fit: cover;
}

.container {
    max-width: calc(1361px + $padding-wrap);
    padding: 0px $padding-wrap;
    margin: 0 auto;
}